body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: white;
}

.menu-item *{
    margin: 0;
    padding: 0;
}

.menu-item{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3{
    text-align: center;
}

.intro-p, .about-p, .address-p{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.credit-p{
    position: fixed;
    bottom: 0;
    background-color: white;
}